<!--

TRANSLATION GUIDE:
https://github.com/ncase/trust#how-to-translate-this-thang

Hello fan-translaters!
First off, thank you so much for taking the time to help out,
I super appreciate it. :3 Anyway, to make translation a bit easier
(or at least less painful) I've scattered comments about on
what things you should translate, plus any additional info

Translate the following files:

    index.html - The title & social sharing text (a few words)
    words.html - All the words for the interactive itself (~3,300 words)
    (optional) notes/index.html - The footnotes (~1,100 words)
    (optional) peeps/index.html - The full credits (a few words)

Many thanks again!

<3,
~ Nicky Case

-->
{%load static%}
<!doctype>
<html>
<head>

	<!-- TO TRANSLATE: "title", "description" -->
	<title>The Evolution of Trust</title>
	<meta name="description" content="an interactive guide to the game theory of why &amp; how we trust each other"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta charset="utf-8">
	<link rel="icon" type="image/png" href="favicon.png">

	<!-- TO TRANSLATE: "name", "description" -->
	<meta itemprop="name" content="The Evolution of Trust">
	<meta itemprop="description" content="an interactive guide to the game theory of why &amp; how we trust each other">
	<meta itemprop="image" content="http://ncase.me/trust/social/thumbnail.png">

	<!-- TO TRANSLATE: "name", "description" -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@ncasenmare">
	<meta name="twitter:title" content="The Evolution of Trust">
	<meta name="twitter:description" content="an interactive guide to the game theory of why &amp; how we trust each other">
	<meta name="twitter:creator" content="@ncasenmare">
	<meta name="twitter:image" content="http://ncase.me/trust/social/thumbnail.png">

	<!-- TO TRANSLATE: "name", "description" -->
	<meta property="og:title" content="The Evolution of Trust">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://ncase.me/trust/">
	<meta property="og:image" content="http://ncase.me/trust/social/thumbnail.png">
	<meta property="og:description" content="an interactive guide to the game theory of why &amp; how we trust each other">

	<!-- Styles -->
	<link rel="stylesheet" href="{% static 'person/slides.css' %}">
	<link rel="stylesheet" href="{% static 'person/balloon.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
	<div id="preloader">loading...</div> <!-- TRANSLATE THIS -->
	<div style="display:none" id="main">
		<div id="slideshow_container">
			<div id="slideshow"></div>
			<div id="scratcher"></div>
		</div>
	</div>
	<div style="display:none" id="footer">
		<!--<div id="sound" sound="on" class="no-select">
			<div id="sound_icon"></div>
			<div id="sound_on">ON</div>
			<div id="sound_off">OFF</div>
		</div>-->
		<div id="select"></div>

		<!-- TRANSLATE "title" & "text". Make sure it's less than 112 characters, for Twitter's sake -->
		<!-- Also, change "link" to whatever the link for the translated version will be! -->
		<!--<sharing title="The Evolution of Trust"
				 text="People no longer trust each other. Why? And how can we fix it? An interactive guide to the game theory of trust:"
				 link="http://ncase.me/trust/"></sharing>-->

		<!-- List of translations thus far! -->
		<div id="translations">
		</div>

	</div>


    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

     Modal content
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Select your choice</h4>
      </div>
      <div class="modal-body">
        
        	
        	{% if Copy %}
   				Copycat <input type="number" name="Pref_1" min="1" max="4" value="0" id="p1">
   			{% endif %}
        	{% if Cheat %}
   				Cheat <input type="number" name="Pref_2" min="1" max="4" value="0" id="p2">
   			{% endif %}
        	{% if Coop %}
   				Coop <input type="number" name="Pref_3" min="1" max="4"value="0" id="p3">
   			{% endif %}
        	{% if Detect %}
   				Detect <input type="number" name="Pref_4" min="1" max="4"value="0"id="p4">
   			{% endif %}
        	{% if Grudge %}
   				Grudge <input type="number" name="Pref_5" min="1" max="4"value="0" id="p5">
   			{% endif %}
        	{% if CopyKit %}
   				CopyKit <input type="number" name="Pref_6" min="1" max="4"value="0" id="p6" >
   			{% endif %}
        	{% if Simple %}
   				Simple <input type="number" name="Pref_7" min="1" max="4"value="0" id="p7">
   			{% endif %}
        	{% if Random %}
   				Random <input type="number" name="Pref_8" min="1" max="4"value="0" id="p8">
   			{% endif %}


   			

       
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" id="formsub" onclick="modalf();">Submit</button>
      </div>
    </div>

  </div>
</div>
</body>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</html>

<!-- Libraries -->
<script type="text/javascript" src="{% static 'helpers.js'%}"></script>
<script type="text/javascript" src="{% static 'pegasus.js'%}"></script>
<script>var c_ = {};</script>
<script type="text/javascript" src="{% static 'minpubsub.src.js'%}"></script>
<script type="text/javascript" src="{% static 'q.js'%}"></script>
<script type="text/javascript" src="{% static 'pixi.min.js'%}"></script>
<script type="text/javascript" src="{% static 'howler.js'%}"></script>
<script>var createjs = window;</script>
<script type="text/javascript" src="{% static 'tweenjs-0.6.2.min.js'%}"></script>
<script>Ticker.framerate=60; Ticker.paused=true;</script>
<script type="text/javascript" src="{% static 'sharing.js'%}"></script>

<!-- Core Engine -->
<script  type="text/javascript" src="{% static 'Loader.js'%}"></script>
<script  type="text/javascript" src="{% static 'Slideshow.js'%}"></script>
<script  type="text/javascript" src="{% static 'SlideSelect.js'%}"></script>
<script  type="text/javascript" src="{% static 'Button.js'%}"></script>
<script  type="text/javascript" src="{% static 'TextBox.js'%}"></script>
<script  type="text/javascript" src="{% static 'Words.js'%}"></script>
<script  type="text/javascript" src="{% static 'IncDecNumber.js'%}"></script>
<script  type="text/javascript" src="{% static 'Slider.js'%}"></script>
<script  type="text/javascript" src="{% static 'Scratcher.js'%}"></script>
<script type="text/javascript"  src="{% static 'Background.js'%}"></script>
<script type="text/javascript" src="{% static 'ImageBox.js'%}"></script>
<script type="text/javascript"  src="{% static 'PayoffsUI.js'%}"></script>

<!-- Simulations -->
<script type="text/javascript"  src="{% static 'Splash.js' %}"></script>
<script type="text/javascript"  src="{% static 'PD.js' %}"></script>
<script type="text/javascript"  src="{% static 'Iterated.js' %}"></script>

<script>
	//var tft_count = {{ Copy }};
	//var all_d= {{ Cheat }};
    let tft_count={{Copy}};
    let all_d_count={{Cheat}};
    let all_c_count={{Coop}};
    let grudge_count={{Grudge}};
    let prober_count={{Detect}};
    let tf2t_count={{CopyKit}};
    let pavlov_count={{Simple}};
    let random_count={{Random}};
	glob = [
		{strategy:"tft", count:tft_count},

		{strategy:"all_d", count:all_d_count},
		{strategy:"all_c", count:all_c_count},
		{strategy:"grudge", count:grudge_count},
		{strategy:"prober", count:prober_count},
		{strategy:"tf2t", count:tf2t_count},
		{strategy:"pavlov", count:pavlov_count},
		{strategy:"random", count:random_count}
	];
</script>
<script type="text/javascript" src="{% static 'Tournament.js' %}"></script>
<script type="text/javascript" src="{% static 'SandboxUI.js' %}"></script>
<script type="text/javascript" src="{% static 'shit.js' %"></script>

<!-- Slides -->
<!-- <script type="text/javascript" src="{% static '0_Slides_Intro.js'%} "></script> -->
<!-- <script type="text/javascript" src="{% static  '1_Slides_OneOff.js'%} "></script> -->
<!-- <script type="text/javascript" src="{% static  '2_Slides_Iterated.js'%} "></script> -->
<!--<script type="text/javascript"  src=" {% static '3_Slides_Tournament.js'%} "></script>
<script type="text/javascript"  src="{% static '4_Slides_Evolution.js'%} "></script>
<script type="text/javascript" src="{% static  '5_Slides_Distrust.js'%} "></script>
<script type="text/javascript" src="{% static  '6_Slides_Noise.js'%} "></script>-->
<script type="text/javascript" src="{% static  '7_Slides_Sandbox.js'%} "></script>
<!--<script type="text/javascript" src="{% static  '8_Slides_Conclusion.js'%} "></script>-->
<!--<script type="text/javascript" src="{% static 'js/slides/9_Slides_Credits.js'%} "></script>-->


<script>
	PD.PAYOFFS_DEFAULT = {
	P: 0, // punishment: neither of you get anything
	S: -1, // sucker: you put in coin, other didn't.
	R: 5, // reward: you both put 1 coin in, both got 3 back
	T: 3 // temptation: you put no coin, got 3 coins anyway
};

</script>


<script type="text/javascript">
	function modalf(){
		console.log('hi');

		checkInput();

		jQuery.ajax({
			type: "POST",
			url: '{%url 'result'%}',
			data:{
					'Pref_1':(($("#p1")) ? ($("#p1").value) : "0"),
					'Pref_2':(($("#p2")) ? ($("#p2").value) : "0"),
					'Pref_3':(($("#p3")) ? ($("#p3").value) : "0"),
					'Pref_4':(($("#p4")) ? ($("#p4").value) : "0"),
					'Pref_5':(($("#p5")) ? ($("#p5").value) : "0"),
					'Pref_6':(($("#p6")) ? ($("#p6").value) : "0"),
					'Pref_7':(($("#p7")) ? ($("#p7").value) : "0"),
					'Pref_8':(($("#p8")) ? ($("#p8").value) : "0"),
					csrfmiddlewaretoken:'{{ csrf_token }}'},
			success: function(resultData){
				
				document.getElementById("modal1").remove();
				alert("Success! Start the Simulation and stop it after it becomes saturated");
			}
		});
	}

	function checkInput() {
		console.log("For Fuck's sake!");

		for (var i = 1;i <= 8;i++) {
			if($("#p" + i.toString())) {
				if($("#p" + i.toString()).value >= 5 || $("#p" + i.toString()).value <= 0) {
					console.log("Yash! Stop being soo Dumb" + $("#p" + i.toString()).value);
					alert("Please fill the rank as consecutive numbers");
					break;
					// return false;
				}
			}

		}

	}

	Element.prototype.remove = function() {
    this.parentElement.removeChild(this);
	}
	NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
	    for(var i = this.length - 1; i >= 0; i--) {
	        if(this[i] && this[i].parentElement) {
	            this[i].parentElement.removeChild(this[i]);
	        }
	    }
	}

</script>
<!-- Main Code -->
<script src="{% static 'main.js' %}"></script>
