{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Loading Screen</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{%  static 'style.css'%}">
</head>
<body>
<!-- partial:index.partial.html -->
<div id="particles-background" class="vertical-centered-box"></div>
<div id="particles-foreground" class="vertical-centered-box"></div>

<div class="vertical-centered-box">
    <img src="{% static 'logo_white.png' %}">
</div>

<div id="splash-screen">
    <div class="technothlon">
         <img src="{% static 'logo2.png' %}">
    </div>
    <div class="splash-header">
        Technothlon IIT Guwahati 2019
    </div>
    <div class="splash-header1">
        presents
    </div>
    <div class="splash-header2">
        'Evolution of Trust'
    </div>

    <div class="splash-header3">
        How much will you trust?
    </div>
    <div class="button-header">
    <div class="zoom-button" style="display: inline-block;">
        <button style="background-color: white;" class="border-button" onclick="parent.location='/login'">BEGIN JOURNEY</button>
    </div>
    </div>
</div>



<!-- partial -->
  <script  src="{% static 'script.js'%}"></script>

</body>
</html>